.card-header.app--card-header {
  a {
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    letter-spacing: unset;
  }
}

.card-text {
  p.app--creator {
    margin-top: 0;
    margin-bottom: 0.2rem;
  }

  p.app--date {
    margin-top: 0;
  }

  &.app--content {
    & ::ng-deep img {
      display: block;
      max-width: calc(100vw * (2 / 3));
      max-height: calc(100vh * (1 / 4));
    }

    & ::ng-deep pre,
    & ::ng-deep code {
      white-space: pre-wrap;
    }

    & ::ng-deep a:not([href]) {
      color: var(--clr-p1-color, hsl(198, 0%, 40%));
    }
  }
}

.card-footer.app--footer {
  align-items: center;
}

.app--is-read {
  .card-header {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .card-block {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

:host-context(body[cds-theme='dark']) .app--is-read {
  .card-header {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .card-block {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.app--has-focus {
  box-shadow: 0 0 1px 3px rgb(255, 255, 216);
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgb(255, 255, 0);
  }
  100% {
    background-color: transparent;
  }
}

.app--flash {
  animation-name: flash;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.alert-action.app--yes-action {
  margin-right: 8px;
}

.app--button-label {
  margin-left: 4px;

  @media (max-width: 768px) {
    display: none;
  }
}
