<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>Register</h2>
    </div>
  </div>
  <hr />
  <div class="row pt-3">
    <div class="col-md-4 offset-md-4">
      <form [ngClass]="{ 'app--is-submitted': state !== State.Ready }">
        <fieldset [disabled]="state === State.IsRegistering">
          <clr-input-container>
            <label>Email</label>
            <input
              clrInput
              type="email"
              placeholder="example@example.com"
              [(ngModel)]="email"
            />
            <clr-control-error>Email required</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Password</label>
            <input
              clrInput
              type="password"
              placeholder="Password"
              [(ngModel)]="password"
            />
            <clr-control-error>Password required</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Confirm Password</label>
            <input
              clrInput
              type="password"
              placeholder="Confirm Password"
              [(ngModel)]="passwordCheck"
            />
            <clr-control-error>Password required</clr-control-error>
          </clr-input-container>
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onRegister()"
            >
              Register
            </button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
