<div
  *ngIf="feed !== undefined && feedEntry !== undefined"
  class="app--view"
  [ngClass]="{
    'app--flash': flashing,
    'text-muted': feedEntry.isRead
  }"
  (click)="onClick($event)"
>
  <h2 class="app--entry-title">
    <a
      [attr.href]="feedEntry.url"
      target="_blank"
      [ngClass]="{
        'text-muted': feedEntry.isRead
      }"
      >{{ feedEntry.title }}</a
    >
  </h2>
  <div class="app--entry-details">
    From <a [attr.href]="feed.homeUrl">{{ feed.calculatedTitle }}</a> by
    {{ feedEntry.authorName }}
  </div>
  <div class="app--entry-text" [innerHtml]="feedEntry.content"></div>
  <button (click)="read()" *ngIf="!feedEntry.isRead">Read</button>
  <button (click)="unread()" *ngIf="feedEntry.isRead">Unread</button>
  <button (click)="favorite()" *ngIf="!feedEntry.isFavorite">Favorite</button>
  <button (click)="unfavorite()" *ngIf="feedEntry.isFavorite">
    Unfavorite
  </button>
</div>
