<div
  *ngIf="feed !== undefined && feedEntry !== undefined"
  class="card"
  [ngClass]="{
    'app--flash': flashing,
    'text-muted': feedEntry.isRead
  }"
  (click)="onClick($event)"
>
  <div class="card-header">
    <a [attr.href]="feedEntry.url" target="_blank">{{ feedEntry.title }}</a>
  </div>
  <div class="card-block">
    <div class="card-title">
      From <a [attr.href]="feed.homeUrl">{{ feed.calculatedTitle }}</a> by
      <ng-container
        *ngIf="feedEntry.authorName; then authorName; else noAuthorName"
      ></ng-container>
      <ng-template #authorName>{{ feedEntry.authorName }}</ng-template>
      <ng-template #noAuthorName>N/A</ng-template>
    </div>
    <div class="card-text" [innerHtml]="feedEntry.content"></div>
  </div>
  <div class="card-footer">
    <ng-container
      *ngIf="feedEntry.isRead; then unreadButton; else readButton"
    ></ng-container>
    <ng-template #unreadButton>
      <button class="btn btn-outline-primary btn-sm" (click)="unread()">
        Unread
      </button>
    </ng-template>
    <ng-template #readButton>
      <button class="btn btn-outline-primary btn-sm" (click)="read()">
        Read
      </button>
    </ng-template>
    <ng-container
      *ngIf="feedEntry.isFavorite; then unfavoriteButton; else favoriteButton"
    ></ng-container>
    <ng-template #unfavoriteButton>
      <button class="btn btn-outline-success btn-sm" (click)="unfavorite()">
        Unfavorite
      </button>
    </ng-template>
    <ng-template #favoriteButton>
      <button class="btn btn-outline-success btn-sm" (click)="favorite()">
        Favorite
      </button>
    </ng-template>
  </div>
</div>
