<div
  *ngIf="feed !== undefined && feedEntry !== undefined"
  class="app--view"
  [ngClass]="{
    'app--flash': flashing,
    'text-muted': feedEntry.isRead
  }"
  (click)="onClick($event)"
>
  <app-comfy-inner-view
    *ngIf="(display | async) === DisplayType.Comfy"
    [feed]="feed"
    [feedEntry]="feedEntry"
  ></app-comfy-inner-view>
  <app-compact-inner-view
    *ngIf="(display | async) === DisplayType.Compact"
    [feed]="feed"
    [feedEntry]="feedEntry"
  ></app-compact-inner-view>
</div>
