.card-text {
  p.app--creator {
    margin-top: 0;
    margin-bottom: 0.2rem;
  }

  p.app--date {
    margin-top: 0;
  }
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.app--flash {
  animation-name: flash;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
