.card-text {
  p.app--creator {
    margin-top: 0;
    margin-bottom: 0.2rem;
  }

  p.app--date {
    margin-top: 0;
  }

  &.app--content {
    & ::ng-deep img {
      display: block;
      max-width: calc(100vw * (2 / 3));
      max-height: calc(100vh * (1 / 4));
    }

    & ::ng-deep pre,
    & ::ng-deep code {
      white-space: pre-wrap;
    }

    & ::ng-deep a:not([href]) {
      color: var(--clr-p1-color, hsl(198, 0%, 40%));
    }
  }
}

.card-footer.app--footer {
  align-items: center;
}

.app--is-read .card-block {
  &,
  & ::ng-deep *:not(a),
  & ::ng-deep a:not([href]) {
    color: #b3b3b3;
  }

  & ::ng-deep a[href] {
    color: #8fbed2;
  }
}

.app--has-focus {
  box-shadow: 0 0 1px 3px rgb(255, 255, 216);
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgb(255, 255, 0);
  }
  100% {
    background-color: transparent;
  }
}

.app--flash {
  animation-name: flash;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
