<header class="app--masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">The Zen of Syndication</h1>
      </div>
    </div>
  </div>
</header>
<section class="app--features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="app--features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="app--features-icons-icon d-flex">
            <i class="fa-solid fa-hands-praying m-auto text-primary"></i>
          </div>
          <h3>The Zen of Purity</h3>
          <p class="lead mb-0">
            A pure, simple way to absorb your news feeds
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="app--features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="app--features-icons-icon d-flex">
            <i class="fa-solid fa-wind m-auto text-primary"></i>
          </div>
          <h3>The Zen of Speed</h3>
          <p class="lead mb-0">Built from the ground up to be fast</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="app--features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="app--features-icons-icon d-flex">
            <i class="fa-solid fa-spa m-auto text-primary"></i>
          </div>
          <h3>The Zen of Discovery</h3>
          <p class="lead mb-0">
            Ready for the more adventurous and opinionated reader
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app--showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white app--showcase-img"
        style="background-image: url(/media/bg-showcase-1.jpg)"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto app--showcase-text">
        <h2>Tell Us What to Subscribe To</h2>
        <p class="lead mb-0">
          No matter if it's RSS or Atom, we can organize all your topics
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white app--showcase-img"
        style="background-image: url(/media/bg-showcase-2.jpg)"
      ></div>
      <div class="col-lg-6 my-auto app--showcase-text">
        <h2>We Make Sure It's Always Up-To-Date</h2>
        <p class="lead mb-0">We scour the feeds endlessly</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white app--showcase-img"
        style="background-image: url(/media/bg-showcase-3.jpg)"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto app--showcase-text">
        <h2>We Present It, Clutter-free</h2>
        <p class="lead mb-0">
          One article after another, until the very last drop
        </p>
      </div>
    </div>
  </div>
</section>
<section class="app--call-to-action text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        <a class="btn btn-primary" href="{{ env.web_app_url }}">Go To App</a>
      </div>
    </div>
  </div>
</section>
