<!doctype html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> nav }}
    <header class="app--masthead text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Privacy Policy</h1>
          </div>
        </div>
      </div>
    </header>
    <!-- TODO -->
    {{> footer }} {{> scripts }}
  </body>
</html>
