<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
    <style>
      ol {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
      }

      ol > li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
      }

      ol > li:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;
      }

      li ol > li {
        margin: 0;
      }

      li ol > li:before {
        content: counters(item, ".") " ";
      }

      .app--legal {
        margin-left: 32px;
      }
    </style>
  </head>
  <body>
    {{> nav }}
    <header class="app--masthead text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Terms of Service</h1>
          </div>
        </div>
      </div>
    </header>
    <!-- TODO -->
    <section class="app--legal">
      <h1>Terms and conditions of use</h1>
      <ol>
        <li>
          Introduction
          <ol>
            <li>
              These terms and conditions shall govern your use of our website.
            </li>
            <li>
              By using our website, you accept these terms and conditions in
              full; accordingly, if you disagree with these terms and conditions
              or any part of these terms and conditions, you must not use our
              website.
            </li>
            <li>
              If you register with our website, we will ask you to expressly
              agree to these terms and conditions.
            </li>
            <li>
              You must be at least 18 years of age to use our website; by using
              our website or agreeing to these terms and conditions, you warrant
              and represent to us that you are at least 18 years of age.
            </li>
          </ol>
        </li>
        <li>
          Credit
          <ol>
            <li>
              This document was created using a template from Docular
              (https://docular.net).
            </li>
          </ol>
        </li>
        <li>
          Copyright notice
          <ol>
            <li>Copyright &copy; 2021 Murray Christopherson</li>
            <li>
              Subject to the express provisions of these terms and conditions:
              <ol>
                <li>
                  we, together with our licensors, own and control all the
                  copyright and other intellectual property rights in our
                  website and the material on our website; and
                </li>
                <li>
                  all the copyright and other intellectual property rights in
                  our website and the material on our website are reserved.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Permission to use website
          <ol>
            <li>
              You may:
              <ol>
                <li>view pages from our website in a web browser;</li>
                <li>
                  download pages from our website for caching in a web browser;
                </li>
                <li>
                  print pages from our website for your own personal and
                  non-commercial use;
                </li>
                <li>
                  use our app by means of a web browser, or our API using
                  network requests, providing that such use is not excessive
                </li>
              </ol>
              subject to the other provisions of these terms and conditions.
            </li>
            <li>
              Except as expressly permitted by Section 4.1 or the other
              provisions of these terms and conditions, you must not download
              any material from our website or save any such material to your
              computer.
            </li>
            <li>
              You may only use our website for interacting with RSS-like feeds;
              you must not use our website for any other purposes.
            </li>
            <li>
              Except as expressly permitted by these terms and conditions, you
              must not edit or otherwise modify any material on our website.
            </li>
            <li>
              Unless you own or control the relevant rights in the material, you
              must not:
              <ol>
                <li>
                  republish material from our website (including republication
                  on another website);
                </li>
                <li>sell, rent or sub-license material from our website;</li>
                <li>show any material from our website in public;</li>
                <li>
                  exploit material from our website for a commercial purpose; or
                </li>
                <li>redistribute material from our website.</li>
              </ol>
            </li>
            <li>
              We reserve the right to suspend or restrict access to our website,
              to areas of our website and/or to functionality upon our website.
              We may, for example, suspend access to the website during server
              maintenance or when we update the website. You must not circumvent
              or bypass, or attempt to circumvent or bypass, any access
              restriction measures on the website.
            </li>
          </ol>
        </li>
        <li>
          Misuse of website
          <ol>
            <li>
              use our website in any way or take any action that causes, or may
              cause, damage to the website or impairment of the performance,
              availability, accessibility, integrity or security of the website;
            </li>
          </ol>
        </li>
      </ol>
    </section>
    {{> footer }} {{> scripts }}
  </body>
</html>
