<app-vertical-nav></app-vertical-nav>
<div class="content-area">
  <div
    infinite-scroll
    [infiniteScrollDisabled]="
      [LoadingState.IsLoading, LoadingState.NoMoreToLoad].includes(loadingState)
    "
    (scrolled)="onApproachingBottom()"
  >
    <ng-container
      *ngIf="feedEntries.length < 1; then hasNoEntries; else hasEntries"
    ></ng-container>
    <ng-template #hasNoEntries>
      <div class="clr-col-12">No Entries</div>
    </ng-template>
    <ng-template #hasEntries>
      <div *ngFor="let feedEntry of feedEntries" class="clr-col-12">
        <app-feed-entry-view
          #feedEntryView
          [feed]="findFeed(feedEntry)"
          [feedEntry]="feedEntry"
          appInViewport
          (appInViewportWatch)="onEntryEnteredViewport($event, feedEntryView)"
          (click)="onEntryClicked($event, feedEntryView)"
        ></app-feed-entry-view>
      </div>
    </ng-template>
  </div>
</div>
