<main role="main">
  <app-display-options></app-display-options>
  <div
    class="container"
    infinite-scroll
    [infiniteScrollDisabled]="isLoadingMore"
    (scrolled)="onApproachingBottom()"
  >
    <h2>All Entries</h2>
    <span *ngIf="feedEntries.length === 0">No Entries</span>
    <app-feed-entry-view
      *ngFor="let feedEntry of feedEntries"
      #feedEntryView
      [feed]="findFeed(feedEntry)"
      [feedEntry]="feedEntry"
      appInViewport
      (appInViewportWatch)="onEntryEnteredViewport($event, feedEntryView)"
      (click)="onEntryClicked($event, feedEntryView)"
    >
    </app-feed-entry-view>
    <div *ngIf="isLoadingMore">Loading...</div>
    <div *ngIf="!isLoadingMore">Load More</div>
  </div>
</main>
