<main role="main">
  <div
    class="container"
    infinite-scroll
    [infiniteScrollDisabled]="isLoadingMore"
    (scrolled)="onApproachingBottom()"
  >
    <h2>All Entries</h2>
    <span *ngIf="feedEntries.length === 0">No Entries</span>
    <app-feed-entry-view
      *ngFor="let feedEntry of feedEntries"
      [feedEntry]="feedEntry"
      appInViewport
      (appInViewportWatch)="onEntryEnteredViewport($event, feedEntry)"
      (click)="onEntryClicked($event, feedEntry)"
    >
    </app-feed-entry-view>
    <div *ngIf="isLoadingMore">Loading...</div>
    <div *ngIf="!isLoadingMore">Load More</div>
  </div>
</main>
