<main role="main">
  <div class="container">
    <h1>Profile</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile Stats</h5>
        <p class="card-text">Here are some stats!</p>
        <p class="card-text">
          Number of Feeds subscribed to: {{ numberOfFeeds }}
        </p>
        <p class="card-text">
          Number of Read Articles: {{ numberOfReadFeedEntries }}
        </p>
      </div>
    </div>
    <hr />
    <form
      class="mb-4"
      [formGroup]="profileForm"
      [ngClass]="{
        'is-submitted': [
          State.IsSaving,
          State.SaveSuccess,
          State.SaveError
        ].includes(state)
      }"
      (ngSubmit)="onSave()"
    >
      <fieldset [disabled]="[State.IsLoading, State.IsSaving].includes(state)">
        <div class="form-group input-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
          <small
            *ngFor="let errorString of profileFormErrors.controls.email"
            class="form-text text-muted"
            >{{ errorString }}</small
          >
        </div>
        <hr />
        <div class="form-group input-group">
          <label for="old-password">Old Password</label>
          <input
            type="password"
            class="form-control"
            id="old-password"
            placeholder="Old Password"
            formControlName="oldPassword"
          />
          <small
            *ngFor="let errorString of profileFormErrors.controls.oldPassword"
            class="form-text text-muted"
            >{{ errorString }}</small
          >
        </div>
        <div class="form-group input-group">
          <label for="new-password">New Password</label>
          <input
            type="password"
            class="form-control"
            id="new-password"
            placeholder="Password"
            formControlName="newPassword"
          />
          <small
            *ngFor="let errorString of profileFormErrors.controls.newPassword"
            class="form-text text-muted"
            >{{ errorString }}</small
          >
        </div>
        <div class="form-group">
          <label for="new-password-check">Reenter New Password</label>
          <input
            type="password"
            class="form-control"
            id="new-password-check"
            placeholder="Reenter Password"
            formControlName="newPasswordCheck"
          />
          <small
            *ngFor="
              let errorString of profileFormErrors.controls.newPasswordCheck
            "
            class="form-text text-muted"
            >{{ errorString }}</small
          >
        </div>
        <div class="error-group">
          <div *ngFor="let errorString of profileFormErrors.errors">
            {{ errorString }}
          </div>
        </div>
        <hr />
        <div class="form-group">
          <div class="container">
            <div class="row">
              <h4>3rd Party Logins</h4>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="card text-center">
                  <i class="fab fa-google brand mt-2"></i>
                  <div class="card-body">
                    <h5 class="card-title">Google</h5>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="linkGoogle()"
                      *ngIf="!hasGoogleLogin"
                      [disabled]="!gLoaded"
                    >
                      Link
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-warning"
                      (click)="unlinkGoogle()"
                      *ngIf="hasGoogleLogin"
                      [disabled]="!gLoaded"
                    >
                      Unlink
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 offset-sm-1">
                <div class="card text-center">
                  <i class="fab fa-facebook brand mt-2"></i>
                  <div class="card-body">
                    <h5 class="card-title">Facebook</h5>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="linkFacebook()"
                      *ngIf="!hasFacebookLogin"
                      [disabled]="!fbLoaded"
                    >
                      Link
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-warning"
                      (click)="unlinkFacebook()"
                      *ngIf="hasFacebookLogin"
                      [disabled]="!fbLoaded"
                    >
                      Unlink
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </fieldset>
    </form>
  </div>
</main>
