<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="openChanged($event)"
  [clrModalClosable]="closable"
>
  <h4 class="modal-title">Labels</h4>
  <div class="modal-body">
    <p>
      To help with our recommendation engine/machine learning model, please
      select all categories this article falls under
    </p>
    <clr-datagrid [(clrDgSelected)]="selectedClassifierLabels">
      <clr-dg-column [clrDgField]="'text'">Text</clr-dg-column>
      <clr-dg-row
        *clrDgItems="let classifierLabel of classifierLabels"
        [clrDgItem]="classifierLabel"
      >
        <clr-dg-cell>{{ classifierLabel.text }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="!closable"
      (click)="save()"
    >
      Save
    </button>
  </div>
</clr-modal>
