<rsst-nav-bar></rsst-nav-bar>

<span *ngIf="!feed">No Feed</span>
<span *ngIf="feed">{{feed.title}}</span>

<button (click)="subscribe()" *ngIf="feed && !feed.subscribed">Subscribe</button>
<button (click)="unsubscribe()" *ngIf="feed && feed.subscribed">Unsubscribe</button>
<hr>

<h2>All Entries</h2>
<div *ngFor="let feedEntry of feedEntries">
    <a href="{{feedEntry.url}}">{{feedEntry.title}}</a>
    <div [innerHtml]="feedEntry.content"></div>
    <button (click)="read(feedEntry)" *ngIf="!feedEntry.isRead">Read</button>
    <button (click)="unread(feedEntry)" *ngIf="feedEntry.isRead">Unread</button>
    <hr>
</div>
