@import "../node_modules/bootstrap/scss/bootstrap.scss";
$fa-font-path: "/media/fonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

body {
  --bs-primary-rgb: 222, 136, 0;
  --bs-link-color-rgb: 222, 136, 0;
  --bs-link-hover-color-rgb: 233, 144, 0;

  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #de8800;
    --bs-btn-border-color: #de8800;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e99000;
    --bs-btn-hover-border-color: #c77b00;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c77b00;
    --bs-btn-active-border-color: #d6880a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #de8800;
    --bs-btn-disabled-border-color: #de8800;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.navbar {
  .navbar-brand {
    svg {
      width: 36px;
      height: 36px;
    }

    span {
      margin-left: 4px;
    }
  }
}

header.app--masthead {
  position: relative;
  background-color: #343a40;
  background: url("/media/bg-masthead1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

  h1 {
    font-size: 2rem;
    text-shadow:
      -1px -1px 0 #000000,
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
      1px 1px 0 #000000;
    filter: drop-shadow(10px 15px 7px #555555);
  }

  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;

    h1 {
      font-size: 3rem;
    }
  }
}

.app--features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;

  .app--features-icons-item {
    max-width: 20rem;

    .app--features-icons-icon {
      height: 7rem;

      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .app--features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

.app--showcase {
  .app--showcase-text {
    padding: 3rem;
  }
  .app--showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .app--showcase-text {
      padding: 7rem;
    }
  }
}

.app--call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("/media/bg-masthead2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;

  h2 {
    text-shadow:
      -1px -1px 0 #000000,
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
      1px 1px 0 #000000;
  }
}

footer.app--footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
