<main role="main">
  <div class="container">
    <h2 *ngIf="!feed">No Feed</h2>
    <ng-container *ngIf="feed">
      <h2 *ngIf="!feed.customTitle; else customTitleHeader">
        {{ feed.title }}
      </h2>
      <ng-template #customTitleHeader>
        <h2>{{ feed.customTitle }}</h2>
        <h3>{{ feed.title }}</h3>
      </ng-template>
    </ng-container>
    <h2 *ngIf="feed">{{ feed.calculatedTitle }}</h2>

    <button (click)="onSubscribe()" *ngIf="feed && !feed.subscribed">
      Subscribe
    </button>
    <button (click)="onUnsubscribe()" *ngIf="feed && feed.subscribed">
      Unsubscribe
    </button>

    <hr />

    <div *ngFor="let userCategory of userCategories">
      {{ userCategory.text }}
    </div>

    <button (click)="onAddUserCategory()" *ngIf="feed && feed.subscribed">
      Add User Category
    </button>

    <hr />

    <app-feed-entry-view
      *ngFor="let feedEntry of feedEntries"
      [feedEntry]="feedEntry"
    ></app-feed-entry-view>
  </div>
</main>
