<main role="main">
  <div
    class="container"
    infinite-scroll
    [infiniteScrollDisabled]="isLoadingMore"
    (scrolled)="onApproachingBottom()"
  >
    <h2 *ngIf="!feed">No Feed</h2>
    <ng-container *ngIf="feed">
      <h2 *ngIf="!feed.customTitle; else customTitleHeader">
        {{ feed.title }}
      </h2>
      <ng-template #customTitleHeader>
        <h2>{{ feed.customTitle }}</h2>
        <h3>{{ feed.title }}</h3>
      </ng-template>
    </ng-container>

    <button (click)="onSubscribe()" *ngIf="feed && !feed.subscribed">
      Subscribe
    </button>
    <button (click)="onUnsubscribe()" *ngIf="feed && feed.subscribed">
      Unsubscribe
    </button>

    <hr />

    <div *ngFor="let userCategory of userCategories">
      {{ userCategory.text }}
    </div>

    <button (click)="onAddUserCategory()" *ngIf="feed">
      Add User Category
    </button>

    <hr />

    <app-feed-entry-view
      *ngFor="let feedEntry of feedEntries"
      #feedEntryView
      [feed]="feed"
      [feedEntry]="feedEntry"
      appInViewport
      (appInViewportWatch)="onEntryEnteredViewport($event, feedEntryView)"
      (click)="onEntryClicked($event, feedEntryView)"
    ></app-feed-entry-view>
    <div *ngIf="isLoadingMore">Loading...</div>
    <div *ngIf="!isLoadingMore">Load More</div>
  </div>
  <app-display-options></app-display-options>
</main>
