<app-vertical-nav></app-vertical-nav>
<div
  class="content-area"
  #scrollContainer
  [appInfiniteScroll]="
    [LoadingState.IsLoading, LoadingState.NoMoreToLoad].includes(loadingState)
  "
  [appInfiniteScrollOffset]="1024"
  (appInfiniteScrollApproachingBottom)="onApproachingBottom()"
>
  <clr-accordion>
    <clr-accordion-panel [(clrAccordionPanelOpen)]="feedSettingsOpen">
      <clr-accordion-title>Feed Settings</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        @if (feed !== null) {
          <div class="clr-row">
            <div class="clr-col-12">
              @if (feed.isSubscribed) {
                <button
                  class="btn btn-warning btn-sm"
                  (click)="onUnsubscribe()"
                >
                  Unsubscribe
                </button>
                <clr-input-container>
                  <label>Custom Name</label>
                  <input
                    clrInput
                    [placeholder]="feed.title"
                    [(ngModel)]="customNameInput"
                    [disabled]="isRenaming"
                  />
                </clr-input-container>
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="onFeedRename()"
                  [disabled]="isRenaming"
                >
                  Rename Feed
                </button>
              } @else {
                <button class="btn btn-primary btn-sm" (click)="onSubscribe()">
                  Subscribe
                </button>
              }
            </div>
          </div>
        }
        <hr />
        <div class="clr-row">
          <div class="clr-col-12">
            <ul class="list-unstyled">
              <li>
                <h5 class="app--categories-header">Categories</h5>
              </li>
              @for (userCategory of userCategories; track $index) {
                <li>
                  {{ userCategory.text }}
                </li>
              } @empty {
                <li class="app--no-user-categories">Not Categorized</li>
              }
              <li>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="onEditUserCategories()"
                >
                  Setup Categories
                </button>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="clr-row">
          <div class="clr-col-12">
            <clr-checkbox-wrapper>
              <input
                type="checkbox"
                clrCheckbox
                [ngModel]="showRead"
                (ngModelChange)="onShowReadChange($event)"
              />
              <label>Show Previously Read and Archived Entries?</label>
            </clr-checkbox-wrapper>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-12">
            <button class="btn btn-primary btn-sm" (click)="readAll()">
              Read All
            </button>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-12">
            <button class="btn btn-sm" (click)="report()">
              <cds-icon shape="warning-standard"></cds-icon><span>Report…</span>
            </button>
          </div>
        </div>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
  @if (feed !== null) {
    <div class="clr-row">
      <div class="clr-col-12">
        @if (feed.customTitle !== null) {
          <h2>
            {{ feed.customTitle }}
            <span class="app--regular-title">({{ feed.title }})</span>
          </h2>
        } @else {
          <h2>
            {{ feed.title }}
          </h2>
        }
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <span>
          @let feedCounts = feedCounts$ | async;
          @if (feedCounts) {
            @let feedCount = feedCounts[feed.uuid];
            @if (feedCount !== undefined) {
              {{ feedCount }} unread
            } @else {
              0 unread
            }
          }
        </span>
      </div>
    </div>
    @if (archivedCount !== null && archivedCount > 0) {
      <div class="clr-row">
        <div class="clr-col-12 app--archived-count">
          <span>{{ archivedCount }} archived</span
          ><clr-tooltip>
            <cds-icon
              clrTooltipTrigger
              shape="info-circle"
              size="24"
            ></cds-icon>
            <clr-tooltip-content [clrPosition]="'top-right'" [clrSize]="'md'">
              Archived entries are still accessible, they just don't count
              towards your unread count
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
      </div>
    }
    @if (feed.isDead) {
      <div class="clr-row">
        <div class="clr-col-12">
          <cds-icon
            class="app--subheader-icon"
            shape="exclamation-circle"
            size="md"
            status="warning"
          ></cds-icon
          ><span>No new content in a long time</span>
        </div>
      </div>
    }
  }
  @if (feed !== null) {
    @for (feedEntry of feedEntries; track $index) {
      <div class="clr-col-12">
        <app-feed-entry-view
          #feedEntryView
          [feed]="feed"
          [feedEntry]="feedEntry"
          [hasFocus]="feedEntryView === focusedFeedEntryView"
          [appInViewport]="feedEntry.isRead"
          [appInViewportScrollParent]="scrollContainer"
          [appInViewportOffset]="{ 'bottom': -64 }"
          [shareModalComponent]="shareModalComponent"
          [labelVoteModalComponent]="labelVoteModalComponent"
          [reportFeedEntryModalComponent]="reportFeedEntryModalComponent"
          (appInViewportWatch)="onEntryEnteredViewport($event, feedEntryView)"
          (click)="onEntryClicked($event, feedEntryView)"
        ></app-feed-entry-view>
      </div>
    }
  }
  <div class="clr-row">
    <div class="clr-col-12">
      <app-feeds-footer
        [state]="feedsFooterState"
        (loadMoreButtonClicked)="onLoadMore()"
        (reloadButtonClicked)="onReload()"
      ></app-feeds-footer>
    </div>
  </div>
</div>

<app-user-categories-modal></app-user-categories-modal>
<app-share-modal #shareModalComponent></app-share-modal>
<app-label-vote-modal #labelVoteModalComponent></app-label-vote-modal>
<app-report-feed-entry-modal
  #reportFeedEntryModalComponent
></app-report-feed-entry-modal>
<app-report-feed-modal></app-report-feed-modal>
