main {
  padding-top: 57px;
}

.app--categories-header {
  margin-top: 0;
}

.app--regular-title {
  font-size: 0.5em;
}

.app--no-user-categories {
  font-style: italic;
}

cds-icon.app--subheader-icon {
  margin-left: -4px;
}
