<div class="modal-header">
    <h4 class="modal-title">Subscribe</h4>
    <button type="button" class="close" (click)="dismiss()">X</button>
</div>
<div class="modal-body">
    <div class="form-group">
        <!-- TODO realized that I use different input paradigms between login page and here, should consolidate -->
        <span class="ui-float-label">
            <input id="feed-url-input" type="text" class="form-control" pInputText [(ngModel)]="feedUrl">
            <label for="feed-url-input">Feed URL</label>
        </span>
    </div>
    <div class="form-group">
        <p-dropdown [options]="selectItems" [(ngModel)]="selectedItem" editable="true" placeholder="Select a Category"></p-dropdown>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="finish()">Finish</button>
</div>
