<div class="modal-header">
    <h4 class="modal-title">Subscribe</h4>
    <button type="button" class="close" (click)="dismiss()">X</button>
</div>
<div class="modal-body">
    <form [formGroup]="subscribeForm">
        <div class="form-group">
            <span class="ui-float-label">
                <input id="feed-url" formControlName="feedUrl" type="text" class="form-control" pInputText>
                <label for="feed-url">Feed URL</label>
            </span>
            <div *ngIf="submitted && subscribeForm.controls.feedUrl.errors" class="invalid">
                <div *ngIf="subscribeForm.controls.feedUrl.errors.required">Feed URL is required</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="finish()">Finish</button>
</div>
