<div class="header-nav">
  <a
    *ngFor="let navLink of navLinks"
    [routerLink]="navLink.routerLink"
    routerLinkActive="active"
    [ngClass]="{
      'active': navLink.routerLinkActiveAlt$ | async
    }"
    class="nav-link nav-text"
    >{{ navLink.name }}</a
  >
</div>
<div class="header-actions">
  <a
    *ngFor="let navAction of navActions"
    [routerLink]=""
    class="nav-link nav-icon"
    (click)="navAction.onClick()"
  >
    <cds-icon [attr.shape]="navAction.clrIconShape"></cds-icon>
  </a>
</div>

<app-confirm-modal #logoutConfirmDialog></app-confirm-modal>
