<div class="background grey" style="height: 572px;"></div>
<div class="p-grid">
    <div class="p-col-6 p-offset-3">
        <h1>Be in the know</h1>
        <div class="sub">Keep up with all the topics that matter to you.</div>
        <div class="sub">All in one place.</div>
        <div class="p-grid p-nogutter">
            <div class="p-col-3">
                <p-button label="Get Started For Free" styleClass="ui-button-success ui-button-raised"></p-button>
            </div>
            <div class="p-col-3">
                <p-button label="Import OPML" styleClass="ui-button-secondary"></p-button>
            </div>
        </div>
        <img src="/assets/temp-screenshot.png" class="screenshot" />
    </div>
    <div class="p-col-4 p-offset-4">
        <div class="features-header mini">The Best of the Web</div>
        <div class="features-header maxi">Discover insightful sources</div>
    </div>
</div>
