div.sub {
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    color: #757575;
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 0;
}

div.background {
    position: absolute;
    z-index: -1;
    width: 100%;
}

div.background.grey {
    background-color: rgba(0, 0, 0, 0.05);
}

p-button ::ng-deep button span {
    margin: 10px 12px;
    text-transform: uppercase;
}

p-button[styleclass="ui-button-secondary"] ::ng-deep button.ui-button.ui-button-secondary {
    border: 1px solid #c7c7c7;
}

p-button[styleclass="ui-button-secondary"] ::ng-deep button.ui-button.ui-button-secondary:hover {
    background-color: #f4f4f4;
    border: 1px solid #c7c7c7;
}

img.screenshot {
    width: 100%;
    margin-top: 48px;
}

div.features-header {
    width: 100%;
    text-align: center;
}

div.features-header.mini {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    text-transform: uppercase;
}

div.features-header.maxi {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
}