<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <clr-accordion>
        <clr-accordion-panel>
          <clr-accordion-title>Advanced Search</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
              <div class="clr-col-6">
                <div class="clr-row"><h3>Entries Search</h3></div>
                <form
                  clrForm
                  #searchForm="ngForm"
                  (ngSubmit)="updateEntriesSearch()"
                >
                  <clr-input-container>
                    <label>Title</label>
                    <input
                      clrInput
                      type="text"
                      name="title"
                      [(ngModel)]="feedEntriesSearchTitle"
                    />
                  </clr-input-container>
                  <clr-input-container>
                    <label>Content</label>
                    <input
                      clrInput
                      type="text"
                      name="content"
                      [(ngModel)]="feedEntriesSearchContent"
                    />
                  </clr-input-container>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [clrLoading]="feedsSearchButtonState"
                  >
                    Search
                  </button>
                </form>
              </div>
              <div class="clr-col-6">
                <div class="clr-row"><h3>Feeds Search</h3></div>
                <form
                  clrForm
                  #searchForm="ngForm"
                  (ngSubmit)="updateFeedsSearch()"
                >
                  <clr-input-container>
                    <label>Title</label>
                    <input
                      clrInput
                      type="text"
                      name="title"
                      [(ngModel)]="feedsSearchTitle"
                    />
                  </clr-input-container>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [clrLoading]="feedsSearchButtonState"
                  >
                    Search
                  </button>
                </form>
              </div>
            </div>
          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12 clr-col-md-6">
      <h2>Entries</h2>
      <ng-container
        *ngIf="
          feedEntryDescriptors.length > 0;
          then feedEntries;
          else noFeedEntries
        "
      ></ng-container>
      <ng-template #feedEntries>
        <div class="clr-row">
          <div
            *ngFor="let feedEntryDescriptor of feedEntryDescriptors"
            class="clr-col-12"
          >
            <div class="card">
              <div class="card-header">
                <a [attr.href]="feedEntryDescriptor.url" target="_blank">{{
                  feedEntryDescriptor.title
                }}</a>
              </div>
              <div class="card-block">
                <div class="card-text">
                  <p class="p4 app--creator">
                    From
                    <a
                      [attr.href]="feedEntryDescriptor.feedHomeUrl"
                      target="_blank"
                      >{{ feedEntryDescriptor.feedTitle }}</a
                    >
                  </p>
                  <p class="p7 app--date">
                    {{ feedEntryDescriptor.publishedAt | dateFormat }}
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <button
                  class="btn btn-outline-success btn-sm"
                  (click)="goTo(feedEntryDescriptor.feedUrl)"
                >
                  Go To Feed
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="feedEntriesLoadingState === LoadingState.IsNotLoading"
          class="clr-row"
        >
          <div class="clr-col-12">
            <button class="btn btn-sm" (click)="loadMoreEntries()">
              See More...
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template #noFeedEntries>
        <div class="clr-row">
          <div class="clr-col-12">No Entries Found</div>
        </div>
      </ng-template>
      <div
        *ngIf="feedEntriesLoadingState === LoadingState.IsLoading"
        class="clr-row"
      >
        <div class="clr-col-12">
          <clr-spinner [clrInline]="true"></clr-spinner>
          <span class="app--loading-text">Loading...</span>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-md-6">
      <h2>Feeds</h2>
      <ng-container
        *ngIf="feedDescriptors.length > 0; then feeds; else noFeeds"
      ></ng-container>
      <ng-template #feeds>
        <div class="clr-row">
          <div
            *ngFor="let feedDescriptor of feedDescriptors"
            class="clr-col-12"
          >
            <div class="card">
              <div class="card-header">
                <a [attr.href]="feedDescriptor.homeUrl" target="_blank">{{
                  feedDescriptor.title
                }}</a>
              </div>
              <div class="card-footer">
                <button
                  class="btn btn-outline-success btn-sm"
                  (click)="goTo(feedDescriptor.feedUrl)"
                >
                  Go To Feed
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="feedsLoadingState === LoadingState.IsNotLoading"
          class="clr-row"
        >
          <div class="clr-col-12">
            <button class="btn btn-sm" (click)="loadMoreFeeds()">
              See More...
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template #noFeeds>
        <div class="clr-row">
          <div class="clr-col-12">No Feeds found</div>
        </div>
        <ng-container *ngIf="feedsLoadingState === LoadingState.IsLoading">
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-spinner [clrInline]="true"></clr-spinner>
              <span class="app--loading-text">Loading...</span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
