<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="alert alert-warning">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon
                class="alert-icon"
                shape="exclamation-circle"
              ></clr-icon>
            </div>
            <span class="alert-text">
              This Search page is just a preview. Work is being done in the
              backend to make it a useful tool to find relevant articles!
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">
      <h1>Search</h1>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">Searching: "{{ searchText }}"</div>
  </div>
</div>
