$nav-height: 50px;

div.container-fluid {
    height: 100%;
}

rsst-nav-bar {
    width: 100%;
    height: $nav-height;
    z-index: 1;
}

@media (min-width: 992px) {
    div.row {
        height: 100%;
    }
}

@media (max-width: 992px) {
    rsst-nav-bar {
        position: fixed;
        top: 0px;
        left: 0px;
    }

    div.container-fluid {
        margin-top: $nav-height;
    }
}
