<clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="2">
  @let feedCounts = feedCounts$ | async;
  @if (feedCounts) {
    @let totalCount = getTotalCount(feedCounts);
    <a clrVerticalNavLink routerLink="/main/feeds">
      <cds-icon clrVerticalNavIcon shape="library"></cds-icon>
      <span class="app--feed-title">All</span>
      @if (totalCount > 0) {
        <span class="app--feed-count" [title]="totalCount | number"
          >({{ totalCount | truncateNumber: 9999 }})</span
        >
      }
    </a>
    @if (areCategoriesInUse) {
      @for (categoryDescriptor of categorizedFeeds.category; track $index) {
        @if (categoryDescriptor.feeds.length > 0) {
          <clr-vertical-nav-group
            routerLinkActive="active"
            [(clrVerticalNavGroupExpanded)]="categoryDescriptor.isExpanded"
          >
            <cds-icon shape="folder" clrVerticalNavIcon></cds-icon>
            <span
              class="app--category-title"
              [title]="categoryDescriptor.name"
              >{{ categoryDescriptor.name }}</span
            >
            <clr-vertical-nav-group-children>
              @for (feed of categoryDescriptor.feeds; track $index) {
                <a
                  clrVerticalNavLink
                  [routerLink]="['/main/feed/', feed.feedUrl]"
                  routerLinkActive="active"
                  [title]="feed.calculatedTitle"
                >
                  <span class="app--feed-title">{{
                    feed.calculatedTitle
                  }}</span>
                  @let feedCount = feedCounts[feed.uuid];
                  @if (feedCount !== undefined && feedCount > 0) {
                    <span class="app--feed-count" [title]="feedCount | number">
                      ({{ feedCount | truncateNumber: 9999 }})
                    </span>
                  }
                </a>
              }
            </clr-vertical-nav-group-children>
          </clr-vertical-nav-group>
        }
      }
      @if (categorizedFeeds.noCategory.feeds.length > 0) {
        <clr-vertical-nav-group
          routerLinkActive="active"
          [(clrVerticalNavGroupExpanded)]="
            categorizedFeeds.noCategory.isExpanded
          "
        >
          <cds-icon shape="folder" clrVerticalNavIcon></cds-icon>
          <span class="app--no-category-title">No Category</span>
          <clr-vertical-nav-group-children>
            @for (feed of categorizedFeeds.noCategory.feeds; track $index) {
              <a
                clrVerticalNavLink
                [routerLink]="['/main/feed/', feed.feedUrl]"
                routerLinkActive="active"
                [title]="feed.calculatedTitle"
              >
                <span class="app--feed-title">{{ feed.calculatedTitle }}</span>
                @let feedCount = feedCounts[feed.uuid];
                @if (feedCount !== undefined && feedCount > 0) {
                  <span class="app--feed-count" [title]="feedCount | number">
                    ({{ feedCount | truncateNumber: 9999 }})
                  </span>
                }
              </a>
            }
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
      }
    } @else {
      @for (feed of categorizedFeeds.noCategory.feeds; track $index) {
        <a
          clrVerticalNavLink
          [routerLink]="['/main/feed/', feed.feedUrl]"
          routerLinkActive="active"
          [title]="feed.calculatedTitle"
        >
          <cds-icon clrVerticalNavIcon shape="scroll"></cds-icon>
          <span class="app--feed-title">{{ feed.calculatedTitle }}</span>
          @let feedCount = feedCounts[feed.uuid];
          @if (feedCount !== undefined && feedCount > 0) {
            <span class="app--feed-count" [title]="feedCount | number"
              >({{ feedCount | truncateNumber: 9999 }})</span
            >
          }
        </a>
      }
    }
  }
  @if (
    categorizedFeeds.category.length < 1 &&
    categorizedFeeds.noCategory.feeds.length < 1
  ) {
    <label class="nav-header"> No Feeds </label>
  }
  <div class="nav-divider"></div>
  <a
    clrVerticalNavLink
    [routerLink]="[
      '/main/feeds',
      {
        favorites: true,
      },
    ]"
  >
    <cds-icon clrVerticalNavIcon shape="star"></cds-icon>
    Favorite Entries
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink href="javascript:;" (click)="addFeed()">
    <cds-icon clrVerticalNavIcon shape="plus"></cds-icon>
    Add Feed…
  </a>
  <a clrVerticalNavLink href="javascript:;" (click)="uploadOPML()">
    <cds-icon clrVerticalNavIcon shape="upload"></cds-icon>
    Upload OPML…
  </a>
</clr-vertical-nav>

<app-subscribe-modal></app-subscribe-modal>
<app-opml-modal></app-opml-modal>
<app-exposed-feeds-modal></app-exposed-feeds-modal>
<app-info-modal></app-info-modal>
