<clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChanged($event)">
  <form
    clrForm
    #subscribeForm="ngForm"
    [ngClass]="{ 'app--is-submitted': submitted }"
    (ngSubmit)="finish()"
  >
    <h4 class="modal-title">Subscribe</h4>
    <div class="modal-body">
      <fieldset>
        <clr-input-container>
          <label>Feed URL</label>
          <input
            clrInput
            type="text"
            name="feedUrl"
            placeholder="Feed URL"
            [(ngModel)]="feedUrl"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Feed URL required</clr-control-error
          >
        </clr-input-container>
        <clr-input-container>
          <label>Custom Name</label>
          <input
            clrInput
            type="text"
            name="customName"
            placeholder="Custom Name"
            [(ngModel)]="customName"
          />
        </clr-input-container>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Finish</button>
    </div>
  </form>
</clr-modal>
