<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>
        Login
        <img
          *ngIf="state === State.IsLoggingIn"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </h2>
    </div>
  </div>
  <hr />
  <div class="row pt-3">
    <div class="col-md-4 offset-md-4">
      <form
        [formGroup]="loginForm"
        [ngClass]="{ 'is-submitted': state !== State.Ready }"
      >
        <fieldset [disabled]="state === State.IsLoggingIn">
          <div class="form-group input-group">
            <label class="has-float-label">
              <input
                type="email"
                formControlName="email"
                placeholder="example@example.com"
                class="form-control"
              />
              <span>Email</span>
            </label>
          </div>
          <div class="error-group">
            <ng-container *ngIf="loginForm.controls.email.errors">
              <div *ngIf="loginForm.controls.email.errors.required">
                Email is required
              </div>
            </ng-container>
          </div>
          <div class="form-group input-group">
            <label class="has-float-label">
              <input
                type="password"
                formControlName="password"
                placeholder="Password"
                class="form-control"
              />
              <span>Password</span>
            </label>
          </div>
          <div class="error-group">
            <ng-container *ngIf="loginForm.controls.password.errors">
              <div *ngIf="loginForm.controls.password.errors.required">
                Password is required
              </div>
            </ng-container>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="onLogin()">Login</button>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <fieldset [disabled]="state === State.IsLoggingIn">
        <button
          [disabled]="!gLoaded"
          class="btn btn-primary"
          (click)="onGoogleLogin()"
        >
          Login with Google
        </button>
        <button
          [disabled]="!fbLoaded"
          class="btn btn-primary"
          (click)="onFacebookLogin()"
        >
          Login with Facebook
        </button>
      </fieldset>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4  offset-md-4">
      <a routerLink="" (click)="onForgottenPassword()">Forgot your Password?</a>
    </div>
  </div>
</div>
