<a class="navbar-brand col-2" routerLink="/main">RSS Temple</a>
<div ngbDropdown autoClose="outside" #feedDropdown="ngbDropdown" class="col-4">
  <button
    class="btn btn-outline-primary btn-block"
    ngbDropdownAnchor
    (click)="feedDropdown.toggle()"
  >
    Feeds
  </button>
  <div class="app--feeds-dropdown" ngbDropdownMenu #feedDropdownMenu>
    <input
      #filterInput
      class="form-control"
      type="search"
      placeholder="Filter..."
      (input)="onFilterInput($event)"
    />
    <div class="dropdown-divider"></div>
    <a
      class="dropdown-item"
      routerLink=""
      (click)="feedDropdown.close(); addFeed()"
    >
      <i class="fas fa-plus"></i>&nbsp; Add Feed...
    </a>
    <a
      class="dropdown-item"
      routerLink=""
      (click)="feedDropdown.close(); uploadOPML()"
    >
      <i class="fas fa-upload"></i>&nbsp; Upload OPML...
    </a>
    <div class="dropdown-divider"></div>
    <div
      *ngIf="
        filteredCategorizedFeeds.noCategory.length === 0 &&
        filteredCategorizedFeeds.category.length === 0
      "
      class="dropdown-item-text"
    >
      No Feeds Found
    </div>
    <ng-container *ngFor="let category of filteredCategorizedFeeds.category">
      <div class="dropdown-item-text app--category-name">
        {{ category.name }}
      </div>
      <ng-container *ngFor="let feed of category.feeds; let last = last">
        <a
          class="dropdown-item"
          [routerLink]="['/main/feed', { url: feed.feedUrl }]"
          (click)="feedDropdown.close(); feedDropdownMenu.scrollTop = 0"
        >
          {{ feed.calculatedTitle }}
        </a>
        <div *ngIf="!last" class="dropdown-divider"></div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="filteredCategorizedFeeds.noCategory.length > 0">
      <div class="dropdown-item-text app--category-name">Uncategorized</div>
      <a
        *ngFor="let feed of filteredCategorizedFeeds.noCategory"
        class="dropdown-item"
        [routerLink]="['/main/feed', { url: feed.feedUrl }]"
        (click)="feedDropdown.close(); feedDropdownMenu.scrollTop = 0"
      >
        {{ feed.calculatedTitle }}
      </a>
    </ng-container>
  </div>
</div>
<button
  class="navbar-toggler"
  type="button"
  (click)="isCollapsed = !isCollapsed"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse col-6" [ngbCollapse]="isCollapsed">
  <ul class="navbar-nav ml-auto mr-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/main"
        ><i class="fas fa-home"></i>&nbsp;Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/main/profile"
        ><i class="fas fa-user"></i>&nbsp;Profile</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" (click)="logOut($event)"
        ><i class="fas fa-power-off"></i>&nbsp;Log Out</a
      >
    </li>
  </ul>
  <form class="form-inline" [formGroup]="searchForm">
    <input
      class="form-control"
      type="search"
      placeholder="Search"
      formControlName="searchText"
      (keydown.enter)="onSearch()"
    />
    <a class="nav-link" routerLink="" (click)="onSearch()"
      ><i class="fas fa-search"></i
    ></a>
  </form>
</div>
