<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <clr-accordion>
        <clr-accordion-panel>
          <clr-accordion-title>What is RSS?</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded
            >RSS (Real Simple Syndication)</clr-accordion-content
          >
        </clr-accordion-panel>
        <clr-accordion-panel>
          <clr-accordion-title>Hotkeys</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>J, M</clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </div>
  </div>
</div>
