<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <clr-accordion>
        <clr-accordion-panel>
          <clr-accordion-title>Advanced Search</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
              <div class="clr-col-12">
                <form clrForm #searchForm="ngForm" (ngSubmit)="updateSearch()">
                  <clr-input-container>
                    <label>Title</label>
                    <input
                      clrInput
                      type="text"
                      name="title"
                      [(ngModel)]="searchTitle"
                    />
                  </clr-input-container>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [clrLoading]="searchButtonState"
                  >
                    Search
                  </button>
                </form>
              </div>
            </div>
          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">
      <ng-container
        *ngIf="feedDescriptors.length > 0; then feeds; else noFeeds"
      ></ng-container>
      <ng-template #feeds>
        <div class="clr-row">
          <div
            *ngFor="let feedDescriptor of feedDescriptors"
            class="clr-col-12"
          >
            <div class="card">
              <div class="card-header app--card-header">
                <a [attr.href]="feedDescriptor.homeUrl" target="_blank">{{
                  feedDescriptor.title
                }}</a>
                <div class="app--feed-url">{{ feedDescriptor.feedUrl }}</div>
              </div>
              <div class="card-footer">
                <button
                  class="btn btn-outline-success btn-sm"
                  [routerLink]="['/main/feed', feedDescriptor.feedUrl]"
                >
                  Go To Feed
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="loadingState === LoadingState.IsNotLoading" class="clr-row">
          <div class="clr-col-12">
            <button class="btn btn-sm" (click)="loadMore()">See More...</button>
          </div>
        </div>
      </ng-template>
      <ng-template #noFeeds>
        <div class="clr-row">
          <div class="clr-col-12">No Feeds found</div>
        </div>
        <ng-container *ngIf="loadingState === LoadingState.IsLoading">
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-spinner [clrInline]="true"></clr-spinner>
              <span class="app--loading-text">Loading...</span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
