<ng-container *ngIf="feed !== undefined && feedEntry !== undefined">
  <h2 class="app--entry-title">
    <a
      [attr.href]="feedEntry.url"
      target="_blank"
      [ngClass]="{
        'text-muted': feedEntry.isRead
      }"
      >{{ feedEntry.title }}</a
    >
  </h2>
  <div class="app--entry-details">
    From <a [attr.href]="feed.homeUrl">{{ feed.calculatedTitle }}</a> by
    <ng-container *ngIf="feedEntry.authorName">{{
      feedEntry.authorName
    }}</ng-container>
    <ng-container *ngIf="!feedEntry.authorName">N/A</ng-container>
  </div>
  <div class="app--entry-buttons">
    <button
      *ngIf="!feedEntry.isRead"
      class="btn btn-outline-primary btn-sm app--read"
      (click)="read()"
    >
      Read
    </button>
    <button
      *ngIf="feedEntry.isRead"
      class="btn btn-outline-primary btn-sm app--unread"
      (click)="unread()"
    >
      Unread
    </button>
    <button
      *ngIf="!feedEntry.isFavorite"
      class="btn btn-outline-success btn-sm app--favorite"
      (click)="favorite()"
    >
      Favorite
    </button>
    <button
      *ngIf="feedEntry.isFavorite"
      class="btn btn-outline-success btn-sm app--unfavorite"
      (click)="unfavorite()"
    >
      Unfavorite
    </button>
  </div>
  <div class="app--entry-text" [innerHtml]="feedEntry.content"></div>
</ng-container>
