<div class="modal-header">
  <h4 class="modal-title">Forgot your Password?</h4>
  <button type="button" class="close" (click)="dismiss()">X</button>
</div>
<div class="modal-body">
  <form
    [formGroup]="forgottenPasswordForm"
    [ngClass]="{ 'is-submitted': state !== State.NotStarted }"
  >
    <fieldset [disabled]="state === State.Sending">
      <div class="form-group">
        <div class="input-group">
          <label class="has-float-label">
            <input
              type="email"
              formControlName="email"
              placeholder="example@example.com"
              class="form-control"
            />
            <span>Email</span>
          </label>
        </div>
        <small
          *ngFor="let errorString of forgottenPasswordFormErrors.controls.email"
          class="form-text text-muted"
          >{{ errorString }}</small
        >
      </div>
      <div class="app--error-group">
        <small
          *ngFor="let errorString of forgottenPasswordFormErrors.errors"
          class="form-text text-muted"
        >
          {{ errorString }}
        </small>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="request()">
          Request New Password
        </button>
      </div>
    </fieldset>
  </form>
</div>
