<div class="modal-header">
  <h4 class="modal-title">Forgot your Password?</h4>
  <button type="button" class="close" (click)="dismiss()">X</button>
</div>
<div class="modal-body">
  <form [formGroup]="forgottenPasswordForm">
    <fieldset>
      <div class="form-group input-group">
        <label class="has-float-label">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="example@example.com"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                submitted && forgottenPasswordForm.controls.email.errors
            }"
          />
          <span>Email</span>
        </label>
      </div>
      <div
        *ngIf="submitted && forgottenPasswordForm.controls.email.errors"
        class="invalid"
      >
        <div *ngIf="forgottenPasswordForm.controls.email.errors.required">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="request()">
          Request New Password
        </button>
      </div>
    </fieldset>
  </form>
</div>
