<h2>Reset Password</h2>
<div *ngIf="state === State.NoToken" class="alert alert-danger" role="alert">
  Token not set
</div>
<div *ngIf="state === State.BadToken" class="alert alert-danger" role="alert">
  Token is not valid
</div>
<form
  clrForm
  *ngIf="[State.NotStarted, State.Sending, State.Error].includes(state)"
  [ngClass]="{ 'app--is-submitted': state !== State.NotStarted }"
>
  <fieldset [disabled]="state === State.Sending">
    <clr-input-container>
      <label>New Password</label>
      <input type="password" placeholder="Password" [(ngModel)]="newPassword" />
      <clr-control-error>Password required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label>Confirm New Password</label>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="newPasswordCheck"
      />
      <clr-control-error>Password required</clr-control-error>
    </clr-input-container>
    <div class="form-group">
      <button class="btn btn-primary" (click)="onSave()">Save</button>
    </div>
  </fieldset>
</form>
<a routerLink="/login">Back to Login page</a>
