<h2>Reset Password</h2>
<div *ngIf="state === State.NoToken" class="alert alert-danger" role="alert">
  Token not set
</div>
<div *ngIf="state === State.BadToken" class="alert alert-danger" role="alert">
  Token is not valid
</div>
<form
  clrForm
  #resetPasswordForm="ngForm"
  *ngIf="[State.NotStarted, State.Sending, State.Error].includes(state)"
  [ngClass]="{ 'app--is-submitted': state !== State.NotStarted }"
  appPasswordsMatch
  appPassword1ControlName="password"
  appPassword2ControlName="passwordCheck"
  (ngSubmit)="onSave()"
>
  <fieldset [disabled]="state === State.Sending">
    <clr-input-container>
      <label>New Password</label>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="newPassword"
        required
      />
      <clr-control-error *clrIfError="'required'"
        >Password required</clr-control-error
      >
    </clr-input-container>
    <clr-input-container>
      <label>Confirm New Password</label>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="newPasswordCheck"
      />
      <clr-control-error>Password required</clr-control-error>
    </clr-input-container>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </fieldset>
  <ng-container
    *ngIf="
      resetPasswordForm &&
      (resetPasswordForm.touched || resetPasswordForm.dirty)
    "
  >
    <div
      *ngIf="resetPasswordForm.errors"
      class="alert alert-warning"
      role="alert"
    >
      <div class="alert-items">
        <div
          *ngIf="resetPasswordForm.errors?.passwordsdonotmatch"
          class="alert-item static"
        >
          <div class="alert-icon-wrapper">
            <clr-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></clr-icon>
          </div>
          <span class="alert-text">Passwords don't match</span>
        </div>
      </div>
    </div>
  </ng-container>
</form>
<a routerLink="/login">Back to Login page</a>
