<clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChanged($event)">
  <h4 class="modal-title">Categories</h4>
  <div class="modal-body">
    <ng-container
      *ngIf="
        categoryDescriptors.length > 0;
        then userCategoryEntries;
        else noUserCategoriesEntry
      "
    ></ng-container>
    <ng-template #noUserCategoriesEntry>
      <p class="p4 app--no-user-categories">No Categories</p>
    </ng-template>
    <ng-template #userCategoryEntries>
      <ul class="list">
        <li *ngFor="let categoryDescriptor of categoryDescriptors">
          {{ categoryDescriptor.text }}
          <button
            type="button"
            class="btn btn-icon btn-link"
            (click)="removeUserCategory(categoryDescriptor)"
            [disabled]="isLoading"
          >
            <cds-icon shape="minus"></cds-icon>
          </button>
        </li>
      </ul>
    </ng-template>
    <input
      clrInput
      [(ngModel)]="newUserCategoryText"
      placeholder="Category Name"
      [disabled]="isLoading"
    />
    <button
      type="button"
      class="btn btn-icon btn-sm"
      [disabled]="newUserCategoryText.length < 1 || isLoading"
      (click)="addUserCategory()"
    >
      <cds-icon shape="plus"></cds-icon>
    </button>
  </div>
</clr-modal>
