<div class="content-area">
  <h2>Register</h2>
  <form
    clrForm
    #registerForm="ngForm"
    appPasswordsMatch
    appPassword1ControlName="password"
    appPassword2ControlName="passwordCheck"
    (ngSubmit)="onRegister()"
  >
    <fieldset [disabled]="registerButtonState !== ClrLoadingState.DEFAULT">
      <clr-input-container>
        <label>Email</label>
        <input
          clrInput
          type="email"
          name="email"
          placeholder="example@example.com"
          [(ngModel)]="email"
          required
          appEmail
        />
        <clr-control-error *clrIfError="'required'"
          >Email required</clr-control-error
        >
        <clr-control-error *clrIfError="'invalidemail'"
          >Email malformed</clr-control-error
        >
      </clr-input-container>
      <clr-input-container>
        <label>Password</label>
        <input
          clrInput
          type="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          required
          minlength="{{ passwordMinLength }}"
          appPassword
        />
        <clr-control-error *clrIfError="'required'"
          >Password required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'; error as error"
          >Password must be at least {{ error.requiredLength }} characters
          long</clr-control-error
        >
        <clr-control-error *clrIfError="'nolowercase'"
          >No Lowercase Character(s)</clr-control-error
        >
        <clr-control-error *clrIfError="'nouppercase'"
          >No Uppercase Character(s)</clr-control-error
        >
        <clr-control-error *clrIfError="'nodigit'"
          >No Digits(s)</clr-control-error
        >
        <clr-control-error *clrIfError="'nospecialcharacter'"
          >No Special Character(s) ({{
            passwordSpecialCharacters
          }})</clr-control-error
        >
      </clr-input-container>
      <clr-input-container>
        <label>Confirm Password</label>
        <input
          clrInput
          type="password"
          name="passwordCheck"
          placeholder="Confirm Password"
          [(ngModel)]="passwordCheck"
          required
          minlength="{{ passwordMinLength }}"
          appPassword
        />
        <clr-control-error *clrIfError="'required'"
          >Password required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'; error as error"
          >Password must be at least {{ error.requiredLength }} characters
          long</clr-control-error
        >
        <clr-control-error *clrIfError="'nolowercase'"
          >No Lowercase Character(s)</clr-control-error
        >
        <clr-control-error *clrIfError="'nouppercase'"
          >No Uppercase Character(s)</clr-control-error
        >
        <clr-control-error *clrIfError="'nodigit'"
          >No Digits(s)</clr-control-error
        >
        <clr-control-error *clrIfError="'nospecialcharacter'"
          >No Special Character(s) ({{
            passwordSpecialCharacters
          }})</clr-control-error
        >
      </clr-input-container>
    </fieldset>
    <clr-accordion class="app--pw-requirements">
      <clr-accordion-panel>
        <clr-accordion-title>Password Requirements</clr-accordion-title>
        <clr-accordion-content
          *clrIfExpanded
          [innerHtml]="passwordHelperTextHtml"
        ></clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
    <div class="card">
      <h3 class="card-header">Captcha</h3>
      <div class="card-block">
        <div class="card-text">
          <fieldset
            [disabled]="
              registerButtonState !== ClrLoadingState.DEFAULT ||
              captchaImageSrc === null ||
              captchaAudio === null
            "
          >
            @if (captchaImageSrc !== null && captchaAudio !== null) {
              <img [src]="captchaImageSrc" alt="" title="Captcha" />
              @if (captchaAudio.paused) {
                <button
                  type="button"
                  class="btn btn-icon"
                  (click)="onCaptchaAudioPlay()"
                >
                  <cds-icon shape="play"></cds-icon>
                </button>
              } @else {
                <button
                  type="button"
                  class="btn btn-icon"
                  (click)="onCaptchaAudioStop()"
                >
                  <cds-icon shape="stop"></cds-icon>
                </button>
              }
              <button
                type="button"
                class="btn btn-icon"
                (click)="refreshCaptcha()"
              >
                <cds-icon shape="refresh"></cds-icon>
              </button>
            }
            <clr-input-container>
              <label>Secret Phrase</label>
              <input
                clrInput
                name="captchaSecretPhrase"
                [(ngModel)]="captchaSecretPhrase"
                required
              />
              <clr-control-error *clrIfError="'required'"
                >Secret Phrase required</clr-control-error
              >
            </clr-input-container>
          </fieldset>
        </div>
      </div>
    </div>
    @if (registerForm && (registerForm.touched || registerForm.dirty)) {
      @if (registerForm.errors) {
        <div class="alert alert-warning" role="alert">
          <div class="alert-items">
            @if (registerForm.errors.passwordsdonotmatch) {
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <cds-icon
                    class="alert-icon"
                    shape="exclamation-triangle"
                  ></cds-icon>
                </div>
                <span class="alert-text">Passwords don't match</span>
              </div>
            }
          </div>
        </div>
      }
    }
    <button
      type="submit"
      class="btn btn-primary"
      [clrLoading]="registerButtonState"
    >
      Register
    </button>
    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </form>
</div>
<app-info-modal></app-info-modal>
