@switch (state) {
  @case (State.IsNotLoading) {
    <button class="btn btn-sm" (click)="onLoadMoreClick()">Load More</button>
  }
  @case (State.IsLoading) {
    <clr-spinner [clrInline]="true"></clr-spinner
    ><span class="app--loading-text">Loading…</span>
  }
  @case (State.IsEmpty) {
    <div class="app--no-entries">
      <img
        src="/assets/images/no_entries.png"
        class="app--no-entries-image"
        alt="No Entries"
      />
    </div>
  }
  @case (State.HasNoMoreToLoad) {
    <button class="btn btn-sm" (click)="onReloadClick()">Reload</button>
  }
}
