<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    Normal
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="./normal/pidgey"
        routerLinkActive="active"
      >
        Pidgey
      </a>
      <a
        clrVerticalNavLink
        routerLink="./normal/snorlax"
        routerLinkActive="active"
      >
        Snorlax
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>

<app-subscribe-modal></app-subscribe-modal>
<app-opml-modal></app-opml-modal>
