<clr-vertical-nav>
  <clr-vertical-nav-group
    *ngFor="let categoryDescriptor of categorizedFeeds.category"
    routerLinkActive="active"
  >
    <cds-icon shape="folder" clrVerticalNavIcon></cds-icon>
    {{ categoryDescriptor.name }}
    <clr-vertical-nav-group-children>
      <a
        *ngFor="let feed of categoryDescriptor.feeds"
        clrVerticalNavLink
        [routerLink]="[
          '/main/feed',
          {
            'url': feed.feedUrl
          }
        ]"
        routerLinkActive="active"
      >
        {{ feed.calculatedTitle }}
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group
    *ngIf="categorizedFeeds.noCategory.length > 0"
    routerLinkActive="active"
  >
    <cds-icon shape="folder" clrVerticalNavIcon></cds-icon>
    <span class="app--no-category-title">No Category</span>
    <clr-vertical-nav-group-children>
      <a
        *ngFor="let feed of categorizedFeeds.noCategory"
        clrVerticalNavLink
        [routerLink]="[
          '/main/feed',
          {
            'url': feed.feedUrl
          }
        ]"
        routerLinkActive="active"
      >
        {{ feed.calculatedTitle }}
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <label
    *ngIf="
      categorizedFeeds.category.length < 1 &&
      categorizedFeeds.noCategory.length < 1
    "
    class="nav-header"
  >
    No Feeds
  </label>
  <div class="nav-divider"></div>
  <a
    clrVerticalNavLink
    [routerLink]="[
      '/main/feeds',
      {
        favorites: true
      }
    ]"
  >
    <cds-icon clrVerticalNavIcon shape="star"></cds-icon>
    Favorite Entries
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink [routerLink]="" (click)="addFeed()">
    <cds-icon clrVerticalNavIcon shape="plus"></cds-icon>
    Add Feed...
  </a>
  <a clrVerticalNavLink [routerLink]="" (click)="uploadOPML()">
    <cds-icon clrVerticalNavIcon shape="upload"></cds-icon>
    Upload OPML...
  </a>
</clr-vertical-nav>

<app-subscribe-modal></app-subscribe-modal>
<app-opml-modal></app-opml-modal>
