:host {
  display: flex;
  flex: 1;
}

.header-actions .app--search-action {
  @media (min-width: 769px) {
    display: none;
  }
}

:host-context(body[cds-theme='light']) .app--light-mode-action,
:host-context(body[cds-theme='dark']) .app--dark-mode-action {
  display: none;
}

a.app--active {
  background-color: rgba(255, 255, 255, 0.15);
}
