<div class="header-nav" [clr-nav-level]="1">
  @for (navLink of navLinks; track $index) {
    @switch (navLink.type) {
      @case ('href') {
        <a
          [href]="navLink.href"
          [target]="navLink.target"
          class="nav-link nav-text"
          >{{ navLink.name }}</a
        >
      }
      @case ('routerLink') {
        <a
          [routerLink]="navLink.routerLink"
          [ngClass]="{
            'app--active': navLink.routerLinkActiveAlt$ | async,
          }"
          class="nav-link nav-text"
          >{{ navLink.name }}</a
        >
      }
    }
  }
</div>
@if (isSearchVisible) {
  <form clrForm class="search" (ngSubmit)="onSearch()">
    <label for="search-input">
      <input
        id="search-input"
        name="searchText"
        [(ngModel)]="searchText"
        type="text"
        placeholder="Search feeds…"
      />
    </label>
  </form>
}
<div class="header-actions">
  @for (navAction of navActions; track $index) {
    <a
      href="javascript:;"
      [ngClass]="navAction.classes"
      class="nav-link nav-icon"
      (click)="navAction.onClick()"
    >
      <cds-icon [attr.shape]="navAction.clrIconShape"></cds-icon>
    </a>
  }
</div>

<app-confirm-modal></app-confirm-modal>
<app-search-modal [(searchText)]="searchText"></app-search-modal>
