<clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChanged($event)">
  <h4 class="modal-title">Categories</h4>
  <div class="modal-body">
    <ng-container
      *ngIf="
        selectedCategoryDescriptors.length > 0;
        then userCategoryEntries;
        else noUserCategoriesEntry
      "
    ></ng-container>
    <ng-template #noUserCategoriesEntry>
      <p class="p4 app--no-user-categories">No Categories</p>
    </ng-template>
    <ng-template #userCategoryEntries>
      <ul class="list">
        <li
          *ngFor="let selectedCategoryDescriptor of selectedCategoryDescriptors"
        >
          {{ selectedCategoryDescriptor.text }}
          <button
            type="button"
            class="btn btn-icon btn-link"
            (click)="removeUserCategory(selectedCategoryDescriptor)"
          >
            <cds-icon shape="minus"></cds-icon>
          </button>
        </li>
      </ul>
    </ng-template>
    <clr-datalist-container>
      <input
        clrDatalistInput
        [(ngModel)]="newUserCategoryText"
        placeholder="Category Name"
      />
      <datalist>
        <option
          *ngFor="let categoryDescriptor of categoryDescriptors"
          [value]="categoryDescriptor.text"
        ></option>
      </datalist>
    </clr-datalist-container>
    <button
      type="button"
      class="btn btn-icon btn-sm"
      [disabled]="newUserCategoryText.length < 1"
      (click)="addUserCategory()"
    >
      <cds-icon shape="plus"></cds-icon>
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="finish()">Finish</button>
  </div>
</clr-modal>
