<clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChanged($event)">
  <h4 class="modal-title">Categories</h4>
  <div class="modal-body">
    <clr-datalist-container>
      <input
        clrDatalistInput
        [(ngModel)]="newUserCategoryText"
        placeholder="Category Name"
        [disabled]="isLoading"
      />
      <datalist>
        <option
          *ngFor="let categoryDescriptor of categoryDescriptors"
          [value]="categoryDescriptor.text"
        ></option>
      </datalist>
    </clr-datalist-container>
    <button
      type="button"
      class="btn btn-icon btn-sm"
      [disabled]="newUserCategoryText.length < 1 || isLoading"
      (click)="addUserCategory()"
    >
      Add Category
    </button>
    <clr-datagrid
      class="datagrid-compact"
      [(clrDgSelected)]="selectedCategoryDescriptors"
    >
      <clr-dg-action-bar>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            (click)="removeUserCategories()"
            [disabled]="selectedCategoryDescriptors.length < 1 || isLoading"
          >
            Remove Categories
          </button>
        </div>
      </clr-dg-action-bar>
      <clr-dg-column [clrDgField]="'text'">Name</clr-dg-column>
      <clr-dg-row
        *clrDgItems="
          let assignedCategoryDescriptor of assignedCategoryDescriptors
        "
        [clrDgItem]="assignedCategoryDescriptor"
      >
        <clr-dg-cell>{{ assignedCategoryDescriptor.text }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
          {{ pagination.totalItems }} categories
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="finish()" [disabled]="isLoading">
      Finish
    </button>
  </div>
</clr-modal>
