<div class="modal-header">
  <h4 class="modal-title">Subscribe</h4>
  <button type="button" class="close" (click)="dismiss()">X</button>
</div>
<div class="modal-body">
  <form [formGroup]="subscribeForm" [ngClass]="{ 'is-submitted': submitted }">
    <fieldset>
      <div class="form-group input-group">
        <label class="has-float-label">
          <input
            formControlName="feedUrl"
            type="text"
            class="form-control"
            placeholder="Feed URL"
          />
          <span>Feed URL</span>
        </label>
        <small
          *ngFor="let errorString of subscribeFormErrors.controls.feedUrl"
          class="form-text text-muted"
          >{{ errorString }}</small
        >
      </div>
      <div class="app--error-group">
        <div *ngFor="let errorString of subscribeFormErrors.errors">
          {{ errorString }}
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="finish()">Finish</button>
</div>
