@import "bootstrap.scss";
$fa-font-path: "/media/fonts";
@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header.app--masthead {
  position: relative;
  background-color: #343a40;
  background: url("/media/bg-masthead1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

  h1 {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;

    h1 {
      font-size: 3rem;
    }
  }
}

.app--features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;

  .app--features-icons-item {
    max-width: 20rem;

    .app--features-icons-icon {
      height: 7rem;

      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .app--features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

.app--showcase {
  .app--showcase-text {
    padding: 3rem;
  }
  .app--showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .app--showcase-text {
      padding: 7rem;
    }
  }
}

.app--call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("/media/bg-masthead2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

footer.app--footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
