<clr-main-container>
  <app-alerts></app-alerts>
  <clr-header class="app--header">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <cds-icon shape="app-logo"></cds-icon>
        <span class="title">RSS Temple</span>
      </a>
    </div>
    <app-nav></app-nav>
  </clr-header>
  <app-subnav></app-subnav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</clr-main-container>

@if (shouldShowCookieConsent) {
  <app-cookie-consent-snackbar
    (cookieConsentAcknowledged)="onCookieConsentAckowledged()"
  ></app-cookie-consent-snackbar>
}
