<clr-main-container>
  <app-alerts></app-alerts>
  <clr-header class="header-5">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <cds-icon shape="app-logo"></cds-icon>
        <span class="title">RSS Temple</span>
      </a>
    </div>
    <app-nav></app-nav>
  </clr-header>
  <app-subnav></app-subnav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</clr-main-container>

<app-cookie-consent-snackbar
  *ngIf="shouldShowCookieConsent"
  (cookieConsentAcknowledged)="onCookieConsentAckowledged()"
></app-cookie-consent-snackbar>
