<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>Reset Password</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="resetPasswordForm">
        <fieldset>
          <div class="form-group input-group">
            <label class="has-float-label">
              <input
                type="password"
                placeholder="Password"
                formControlName="newPassword"
                class="form-control"
                [ngClass]="{
                  'is-invalid': resetPasswordForm.controls.newPassword.errors
                }"
              />
              <span>New Password</span>
            </label>
          </div>
          <div class="form-group input-group">
            <label class="has-float-label">
              <input
                type="password"
                placeholder="Password"
                formControlName="newPasswordCheck"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    resetPasswordForm.controls.newPasswordCheck.errors
                }"
              />
              <span>Confirm New Password</span>
            </label>
          </div>
          <div
            *ngIf="resetPasswordForm.controls.newPassword.errors"
            class="invalid"
          >
            <div *ngIf="resetPasswordForm.controls.email.errors.required">
              Email is required
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="onSave()">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
