<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="alert alert-warning">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon
                class="alert-icon"
                shape="exclamation-circle"
              ></clr-icon>
            </div>
            <span class="alert-text">
              This Explore page is just a preview. Until we gain a more
              significant number of users, we can't really start data modelling
              for a recommendation engine, so the recommendations are entirely
              static until then.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">
      <h1>Explore</h1>
    </div>
  </div>
  <ng-container *ngFor="let tagEntry of tagEntries">
    <div class="clr-row">
      <div class="clr-col-12">
        <h3>{{ tagEntry.name }}</h3>
      </div>
    </div>
    <div class="clr-row">
      <div
        *ngFor="let feed of tagEntry.feeds"
        class="clr-col-12 clr-col-md-6 clr-col-xl-4"
      >
        <div class="card">
          <div class="card-header">
            <ng-container
              *ngIf="
                feed.homeUrl !== null;
                then feedNameLink;
                else feedNameText
              "
            ></ng-container>
            <ng-template #feedNameLink>
              <a *ngIf="feed.homeUrl !== null" [href]="feed.homeUrl">{{
                feed.name
              }}</a>
            </ng-template>
            <ng-template #feedNameText>
              {{ feed.name }}
            </ng-template>
          </div>
          <div *ngIf="feed.imageSrc !== null" class="card-img app--feed-image">
            <img [src]="feed.imageSrc" />
          </div>
          <div class="card-block">
            <p>Example Articles</p>
            <ul class="list">
              <li *ngFor="let exampleTitle of feed.exampleTitles">
                {{ exampleTitle }}
              </li>
              <li>And More...</li>
            </ul>
          </div>
          <div class="card-footer app--footer">
            <ng-container
              *ngIf="
                feed.isSubscribed;
                then unsubscribeButton;
                else subscribeButton
              "
            ></ng-container>
            <ng-template #unsubscribeButton>
              <button class="btn btn-warning" (click)="unsubscribe(feed)">
                Unsubscribe
              </button>
            </ng-template>
            <ng-template #subscribeButton>
              <button class="btn btn-primary" (click)="subscribe(feed)">
                Subscribe
              </button>
            </ng-template>
            <a
              class="btn btn-link btn-sm"
              [routerLink]="['/main/feed/', feed.feedUrl]"
              >Go to Feed</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
