<!doctype html>
<html lang="en">
  <head>
    {% render "head", page_name: page_name, additional_links: additional_links, head_custom_filename: head_custom_filename %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
