<title>RSS Temple - {{page_name}}</title>
<base href="/" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
  rel="stylesheet"
  type="text/css"
/>
<link href="/styles/main.min.css" rel="stylesheet" type="text/css" />
<link href="/favicon.ico" rel="icon" type="image/x-icon" />

<!-- DEPLOYMENT HEAD START -->
<!-- DEPLOYMENT HEAD END -->
