<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/"
      >{{include "src/media/icon.svg"}}<span>RSS Temple</span></a
    >
    <a class="btn btn-primary" href="{{app_url}}">Go To App</a>
  </div>
</nav>
