<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/"
      >{{include "src/media/icon.svg"}}RSS Temple</a
    >
    <a id="app-anchor" class="btn btn-primary" href="#">Go To App</a>
  </div>
</nav>
