form.ng-invalid div.app--error-group {
  display: none;
}

form.ng-invalid.app--is-submitted div.app--error-group {
  display: block;
}

form.app--is-submitted input.ng-invalid {
  border-color: #dc3545;
}
