<form clrForm #subscribeForm="ngForm" (ngSubmit)="finish()">
  <clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChanged($event)">
    <h4 class="modal-title">Subscribe</h4>
    <div class="modal-body">
      <fieldset>
        <clr-input-container>
          <label>Feed/Site URL</label>
          <input
            clrInput
            type="text"
            name="feedUrl"
            placeholder="http://example.com/rss.xml"
            [(ngModel)]="feedUrl"
            required
            appUrl
          />
          <clr-control-error *clrIfError="'required'"
            >Feed URL required</clr-control-error
          >
          <clr-control-error *clrIfError="'invalidurl'"
            >URL malformed</clr-control-error
          >
        </clr-input-container>
        <clr-input-container>
          <label>Custom Name</label>
          <input
            clrInput
            type="text"
            name="customName"
            placeholder="Custom Name"
            [(ngModel)]="customName"
          />
          <clr-control-helper
            >Override the default feed title</clr-control-helper
          >
        </clr-input-container>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </clr-modal>
</form>
