/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-float-label/bootstrap-float-label';

@import '~ngx-snackbar/bundles/style';
.snack {
  &.success {
    background-color: green;
    color: #ffffff;

    .snack-action {
      color: #2196f3;
    }
  }

  &.error {
    background-color: red;
    color: #ffffff;

    .snack-action {
      color: #2196f3;
    }
  }

  &.info {
    background-color: #343434;
    color: #ffffff;

    .snack-action {
      color: #2196f3;
    }
  }
}
