<clr-modal [clrModalOpen]="open" (clrModalOpenChange)="openChanged($event)">
  <h4 class="modal-title">Forgot your Password?</h4>
  <div class="modal-body">
    <form
      clrForm
      [ngClass]="{ 'app--is-submitted': state !== State.NotStarted }"
    >
      <fieldset [disabled]="state === State.Sending">
        <clr-input-container>
          <label>Email</label>
          <input
            clrInput
            type="email"
            name="email"
            placeholder="example@example.com"
            [(ngModel)]="email"
            required
          />
          <clr-control-error>Email required</clr-control-error>
        </clr-input-container>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="request()">
      Request New Password
    </button>
  </div>
</clr-modal>
