<div class="login-wrapper">
  <form clrForm #loginForm="ngForm" (ngSubmit)="onLogin()" class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      RSS Temple
      <h5 class="hint">Please sign in to see your Feed</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label>Email</label>
        <input
          clrInput
          type="email"
          name="email"
          placeholder="example@example.com"
          [(ngModel)]="email"
          (keydown.enter)="onLogin()"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Email required</clr-control-error
        >
      </clr-input-container>
      <clr-password-container>
        <label>Password</label>
        <input
          clrPassword
          type="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          (keydown.enter)="onLogin()"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Password required</clr-control-error
        >
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember Me</label>
        <input
          clrCheckbox
          type="checkbox"
          name="rememberMe"
          [(ngModel)]="rememberMe"
        />
      </clr-checkbox-wrapper>
      <button
        class="btn btn-primary"
        type="submit"
        [clrLoading]="loginButtonState"
      >
        Login
      </button>
      <a [routerLink]="['/register']" class="signup">Register</a>
      <button
        class="btn btn-link btn-sm app--forgot-password"
        (click)="onForgottenPassword()"
      >
        Forgot Password?
      </button>
      <button
        id="google-login"
        [disabled]="!gLoaded"
        class="btn btn-primary"
        (click)="onGoogleLogin()"
      >
        <clr-icon shape="brand-google"></clr-icon>
        <span>Login with Google</span>
      </button>
      <button
        id="facebook-login"
        [disabled]="!fbLoaded"
        class="btn btn-primary"
        (click)="onFacebookLogin()"
      >
        <clr-icon shape="brand-facebook"></clr-icon>
        <span>Login with Facebook</span>
      </button>
    </div>
  </form>
</div>

<app-request-password-reset-modal></app-request-password-reset-modal>
