button#google-login,
button#facebook-login {
  span {
    margin-left: 1rem;
  }
}

.login-wrapper {
  .login {
    min-height: unset;

    .login-group {
      padding: 0.5rem 0 0 0;

      .btn {
        margin: 0.4rem 0 0 0;
      }

      button.app--forgot-password {
        margin: 0.2rem 0 0 0;
      }
    }
  }
}

.welcome {
  margin-top: 0;
}
