<div class="login-wrapper">
  <div class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      RSS Temple
      <h5 class="hint">Please sign in to see your News Feed</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label>Email</label>
        <input
          clrInput
          type="email"
          placeholder="example@example.com"
          [(ngModel)]="email"
          (keydown.enter)="onLogin()"
        />
        <clr-control-error>Email required</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label>Password</label>
        <input
          clrPassword
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          (keydown.enter)="onLogin()"
        />
        <clr-control-error>Password required</clr-control-error>
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember Me</label>
        <input type="checkbox" clrCheckbox [(ngModel)]="rememberMe" />
      </clr-checkbox-wrapper>
      <button
        class="btn btn-primary"
        (click)="onLogin()"
        [clrLoading]="loginButtonState"
      >
        Login
      </button>
      <button class="btn btn-link" (click)="onForgottenPassword()">
        Forgot Password?
      </button>
      <hr />
      <button
        id="google-login"
        [disabled]="!gLoaded"
        class="btn btn-primary"
        (click)="onGoogleLogin()"
      >
        Login with Google
      </button>
      <button
        id="facebook-login"
        [disabled]="!fbLoaded"
        class="btn btn-primary"
        (click)="onFacebookLogin()"
      >
        Login with Facebook
      </button>
    </div>
  </div>
</div>

<app-request-password-reset-modal></app-request-password-reset-modal>
