<div class="modal-header">
  <h4 class="modal-title">Subscribe</h4>
  <button type="button" class="close" (click)="dismiss()">X</button>
</div>
<div class="modal-body">
  <form
    [formGroup]="subscribeForm"
    [ngClass]="{ 'app--is-submitted': submitted }"
  >
    <fieldset>
      <div class="form-group">
        <div class="input-group">
          <label class="has-float-label">
            <input
              formControlName="feedUrl"
              type="text"
              class="form-control"
              placeholder="Feed URL"
            />
            <span>Feed URL</span>
          </label>
        </div>
        <small
          *ngFor="let errorString of subscribeFormErrors.controls.feedUrl"
          class="form-text text-muted"
          >{{ errorString }}</small
        >
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="has-float-label">
            <input
              formControlName="customName"
              type="text"
              class="form-control"
              placeholder="Custom Name"
            />
            <span>Custom Name</span>
          </label>
        </div>
        <small
          *ngFor="let errorString of subscribeFormErrors.controls.customName"
          class="form-text text-muted"
          >{{ errorString }}</small
        >
      </div>
      <div class="app--error-group">
        <small
          *ngFor="let errorString of subscribeFormErrors.errors"
          class="form-text text-muted"
        >
          {{ errorString }}
        </small>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="finish()">Finish</button>
</div>
