<main role="main">
  <div class="container">
    <h1>Profile</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile Stats</h5>
        <p class="card-text">Here are some stats!</p>
        <p class="card-text">
          Number of Feeds subscribed to: {{ numberOfFeeds }}
        </p>
        <p class="card-text">
          Number of Read Articles: {{ numberOfReadFeedEntries }}
        </p>
      </div>
    </div>
    <hr />
    <form
      class="mb-4"
      [ngClass]="{
        'app--is-submitted': [
          State.IsSaving,
          State.SaveSuccess,
          State.SaveError
        ].includes(state)
      }"
    >
      <fieldset [disabled]="[State.IsLoading, State.IsSaving].includes(state)">
        <clr-input-container>
          <label>Email</label>
          <input
            clrInput
            type="email"
            placeholder="example@example.com"
            [(ngModel)]="email"
          />
          <clr-control-error>Email required</clr-control-error>
        </clr-input-container>
        <hr />
        <clr-input-container>
          <label>Old Password</label>
          <input
            clrInput
            type="password"
            placeholder="Old Password"
            [(ngModel)]="oldPassword"
          />
          <clr-control-error>Password required</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>New Password</label>
          <input
            clrInput
            type="password"
            placeholder="New Password"
            [(ngModel)]="newPassword"
          />
          <clr-control-error>Password required</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Confirm New Password</label>
          <input
            clrInput
            type="password"
            placeholder="Confirm New Password"
            [(ngModel)]="newPasswordCheck"
          />
          <clr-control-error>Password required</clr-control-error>
        </clr-input-container>
        <hr />
        <div class="form-group">
          <div class="container">
            <div class="row">
              <h4>3rd Party Logins</h4>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="card text-center">
                  <i class="fab fa-google app--brand mt-2"></i>
                  <div class="card-body">
                    <h5 class="card-title">Google</h5>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="linkGoogle()"
                      *ngIf="!hasGoogleLogin"
                      [disabled]="!gLoaded"
                    >
                      Link
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-warning"
                      (click)="unlinkGoogle()"
                      *ngIf="hasGoogleLogin"
                      [disabled]="!gLoaded"
                    >
                      Unlink
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 offset-sm-1">
                <div class="card text-center">
                  <i class="fab fa-facebook app--brand mt-2"></i>
                  <div class="card-body">
                    <h5 class="card-title">Facebook</h5>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="linkFacebook()"
                      *ngIf="!hasFacebookLogin"
                      [disabled]="!fbLoaded"
                    >
                      Link
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-warning"
                      (click)="unlinkFacebook()"
                      *ngIf="hasFacebookLogin"
                      [disabled]="!fbLoaded"
                    >
                      Unlink
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSave()">
          Save
        </button>
      </fieldset>
    </form>
  </div>
</main>
