<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="alert alert-warning">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon
                class="alert-icon"
                shape="exclamation-circle"
              ></clr-icon>
            </div>
            <span class="alert-text">
              This Explore page is just a preview. Until we gain a more
              significant number of users, we can't really start data modelling
              for a recommendation engine, so the recommendations are entirely
              static until then.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">
      <h1>Explore</h1>
    </div>
  </div>
  @for (tagEntry of tagEntries; track $index) {
    <div class="clr-row">
      <div class="clr-col-12">
        <h3>{{ tagEntry.name }}</h3>
      </div>
    </div>
    <div class="clr-row">
      @for (feed of tagEntry.feeds; track $index) {
        <div class="clr-col-12 clr-col-md-6 clr-col-xl-4">
          <div class="card">
            <div class="card-header app--card-header">
              @if (feed.homeUrl !== null) {
                <a [href]="feed.homeUrl">{{ feed.name }}</a>
              } @else {
                {{ feed.name }}
              }
            </div>
            @if (feed.imageSrc !== null) {
              <div class="card-img app--feed-image">
                <img [src]="feed.imageSrc" alt="{{ feed.name }} image" />
              </div>
            }
            <div class="card-block">
              <p>Example Articles</p>
              <ul class="list">
                @for (exampleTitle of feed.exampleTitles; track $index) {
                  <li>
                    {{ exampleTitle }}
                  </li>
                }
                <li>And More…</li>
              </ul>
            </div>
            <div class="card-footer app--footer">
              @if (feed.isSubscribed) {
                <button
                  class="btn btn-warning btn-sm btn-icon"
                  (click)="unsubscribe(feed)"
                  title="Unsubscribe"
                >
                  <cds-icon shape="bookmark"></cds-icon
                  ><span class="app--button-label">Unsubscribe</span>
                </button>
              } @else {
                <button
                  class="btn btn-success btn-sm btn-icon"
                  (click)="subscribe(feed)"
                  title="Subscribe"
                >
                  <cds-icon shape="bookmark"></cds-icon
                  ><span class="app--button-label">Subscribe</span>
                </button>
              }
              <a
                class="btn btn-link btn-sm"
                [routerLink]="['/main/feed/', feed.feedUrl]"
                ><cds-icon shape="link"></cds-icon
                ><span class="app--button-label">Go to Feed</span></a
              >
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
