.card-header.app--card-header {
  a {
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    letter-spacing: unset;
  }
}

.app--feed-image img {
  max-height: 150px;
  object-fit: contain;
}

.card-footer.app--footer {
  align-items: center;
}

.app--button-label {
  margin-left: 4px;

  @media (max-width: 768px) {
    display: none;
  }
}
