<form clrForm #passwordResetRequestForm="ngForm" (ngSubmit)="request()">
  <clr-modal
    [clrModalOpen]="open"
    (clrModalOpenChange)="openChanged($event)"
    [clrModalClosable]="requestButtonState === ClrLoadingState.DEFAULT"
  >
    <h4 class="modal-title">Forgot your Password?</h4>
    <div class="modal-body">
      <fieldset [disabled]="requestButtonState !== ClrLoadingState.DEFAULT">
        <clr-input-container>
          <label>Email</label>
          <input
            clrInput
            type="email"
            name="email"
            placeholder="example@example.com"
            [(ngModel)]="email"
            required
            appEmail
          />
          <clr-control-error *clrIfError="'required'"
            >Email required</clr-control-error
          >
          <clr-control-error *clrIfError="'invalidemail'"
            >Email malformed</clr-control-error
          >
        </clr-input-container>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-primary"
        type="submit"
        [clrLoading]="requestButtonState"
      >
        Request New Password
      </button>
    </div>
  </clr-modal>
</form>
