<div class="content-area">
  <h2>Reset Password</h2>
  @if (state === State.NoToken) {
    <div class="alert alert-danger" role="alert">Token not set</div>
  } @else if (state === State.BadToken) {
    <div class="alert alert-danger" role="alert">Token is not valid</div>
  } @else if ([State.NotStarted, State.Sending, State.Error].includes(state)) {
    <form
      clrForm
      #resetPasswordForm="ngForm"
      appPasswordsMatch
      appPassword1ControlName="newPassword"
      appPassword2ControlName="newPasswordCheck"
      (ngSubmit)="onSave()"
    >
      <fieldset [disabled]="state === State.Sending">
        <clr-password-container>
          <label>New Password</label>
          <input
            clrPassword
            type="password"
            name="newPassword"
            placeholder="Password"
            [(ngModel)]="newPassword"
            required
            appPassword
          />
          <clr-control-helper>{{ passwordHelperText }}</clr-control-helper>
          <clr-control-error *clrIfError="'required'"
            >Password required</clr-control-error
          >
          <clr-control-error *clrIfError="'minlength'; error as error"
            >Password must be at least {{ error.requiredLength }} characters
            long</clr-control-error
          >
          <clr-control-error *clrIfError="'nolowercase'"
            >No Lowercase Character(s)</clr-control-error
          >
          <clr-control-error *clrIfError="'nouppercase'"
            >No Uppercase Character(s)</clr-control-error
          >
          <clr-control-error *clrIfError="'nodigit'"
            >No Digits(s)</clr-control-error
          >
          <clr-control-error *clrIfError="'nospecialcharacter'"
            >No Special Character(s) ({{
              passwordSpecialCharacters
            }})</clr-control-error
          >
        </clr-password-container>
        <clr-password-container>
          <label>Confirm New Password</label>
          <input
            clrPassword
            type="password"
            name="newPasswordCheck"
            placeholder="Password"
            [(ngModel)]="newPasswordCheck"
            required
            appPassword
          />
          <clr-control-helper>{{ passwordHelperText }}</clr-control-helper>
          <clr-control-error *clrIfError="'required'"
            >Password required</clr-control-error
          >
          <clr-control-error *clrIfError="'minlength'; error as error"
            >Password must be at least {{ error.requiredLength }} characters
            long</clr-control-error
          >
          <clr-control-error *clrIfError="'nolowercase'"
            >No Lowercase Character(s)</clr-control-error
          >
          <clr-control-error *clrIfError="'nouppercase'"
            >No Uppercase Character(s)</clr-control-error
          >
          <clr-control-error *clrIfError="'nodigit'"
            >No Digits(s)</clr-control-error
          >
          <clr-control-error *clrIfError="'nospecialcharacter'"
            >No Special Character(s) ({{
              passwordSpecialCharacters
            }})</clr-control-error
          >
        </clr-password-container>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </fieldset>
      @if (
        resetPasswordForm &&
        (resetPasswordForm.touched || resetPasswordForm.dirty)
      ) {
        @if (resetPasswordForm.errors) {
          <div class="alert alert-warning" role="alert">
            <div class="alert-items">
              @if (resetPasswordForm.errors.passwordsdonotmatch) {
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <cds-icon
                      class="alert-icon"
                      shape="exclamation-triangle"
                    ></cds-icon>
                  </div>
                  <span class="alert-text">Passwords don't match</span>
                </div>
              }
            </div>
          </div>
        }
      }
    </form>
  }
  <a routerLink="/login">Back to Login page</a>
</div>
