<div class="content-area">
  <h2>Reset Password</h2>
  <div class="alert" [ngClass]="alertClass">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" [attr.shape]="iconShape"></clr-icon>
        </div>
        <span class="alert-text">
          <ng-container [ngSwitch]="state">
            <ng-container *ngSwitchCase="State.NotStarted"
              >Not Started</ng-container
            >
            <ng-container *ngSwitchCase="State.Sending"
              >Sending...</ng-container
            >
            <ng-container *ngSwitchCase="State.Success">Success</ng-container>
            <ng-container *ngSwitchCase="State.Error">Error</ng-container>
            <ng-container *ngSwitchCase="State.NoToken">No Token</ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
  <a *ngIf="isLoginPageAnchorVisible" routerLink="/login">Back to Login page</a>
</div>
